#gridContainer{
  height: 70vh;
  width: 70vh;
  background-color: black;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1vh;
  grid-template-rows: repeat(3, 1fr);
  border: solid lightgrey 3vh;
  margin: 0 auto;
  overflow: hidden;
}

.spaceDiv {
  height: 100%; 
  width: 100%;
  background-color: white;
  border: none;
  font-size: 12vh;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  box-sizing: border-box;
}

h1 {
  text-align: center;
}

#play-again {
  display: block;
  margin: 0 auto;
}

#win {
  display: none;
}